<ul class="wat-cf">
  <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", collection_path %></li>
  <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_resource_path %></li>
</ul>
